body{
    background-image: url(./background.jpg);
    background-size: cover;
}
h1{
    font-size: 100px;
    color: white;
}
h2{
    color: white;
}
h3{
    color: white;
}
p{
    font-size: 40px;
    color: white;
}
small{
    font-size: 40px;
    color: white;
}
