{%load static%}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'discussion.css' %}">
    <title>Discussion</title>
</head>
<body>
    <h1>Discussion</h1>
    <h2>Velocity</h2>
    <h3>V = 331.5 + 0.6t[℃] </h3>
    <h3>V = 331.5 + 0.6 × 28.5 = 348.6[m/s] </h3>
    <h2>The wavelength</h2>
    <h3>L2 - L1 = 1/2λ , 1/2λ × 2 = λ </h3>
    <h3>0.351 × 2 = 0.702[m] </h3>
    <h2>The frequency</h2>
    <h3>f = V/λ </h3>
    <h3>f = 348.6 / 0.702 = 497[Hz] </h3>
    <h2>Next resonance point</h2>
    <h3>0.845[m] </h3>
    <h2>The end correction length</h2>
    <h3>1/2λ / 2 - L1 </h3>
    <h3>0.351 / 2 - 0.152 = 0.033[m] </h3>
    <small><a href="Reference/" target="_blank">Next -> Reference</a></small>
</body>
</html>