{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'method.css' %}">
    <title>Method</title>
</head>
<body>
    <h1>Method</h1>
    <div id="top-divide">
        <div id="top-right">
            <p>(1) Measured room temparature t1[℃]</p>
            <p>(2) Stood the tube on the stand like this picture, and made the water surface approach to the open side of the tube.</p>
            <p>(3) Moved the tuning fork away from the open side of the tube,tapped it lightly with a tapping stick, and moved to the open side of the tube quickly.</p>
            <p>Then, moved the water surface down slowly by moving the water reservoir.</p>
            <p>(4) Found out the position of the water surface where the air column resonates with the tuning fork and is heard the loudest.</p>
            <p>(5) Measured the distance L1 from the tube opening to the water surface.</p>
            <p>(6)From the first resonance point, found the point which the air column resonates with the turning fork again, and measured the distance L2 from the tube`s open to the water surface.</p>
            <p>(7) Repeated steps (2)to(6)three times.</p>
            <p>(8) Finally, measured room temperature t2(℃).</p>
        </div>
        <div id="top-left">
           <img class="praise" src="{% static 'column.gif' %}" alt="column" title="column">
        </div>
    </div>
    <small><a href="result/" target="_blank">Next -> Result</a></small>
</body>
</html>