{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>Preparation</title>
</head>
<body>
    <h1>Preparation</h1>
    <p>Air column resonator, tuning fork, tap bar, thermometer, stand</p>
    <small><a href="./method.html" target="_blank">Next -> Method</a></small>
</body>
</html>