{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'preparation.css' %}">
    <title>Preparation</title>
</head>
<body>
    <h1>Preparation</h1>
    <p>An air column resonator, tuning fork, tap bar, thermometer, and stand</p>
    <div id="top-divide">
        <div id="top-left">
            <img class="praise" src="{% static '軟質たたき棒.jpg' %}" alt="tap bar" title="tap bar">
        </div>
        <div id="top-center">
            <img class="praise" src="{% static '音叉.jpg' %}" alt="tuning fork" title="tuning fork">
        </div>
        <div id="top-right">
            <img class="praise" src="{% static '気柱共鳴装置改.jpg' %}" alt="air column" title="air column">
        </div>
    </div>
    <small><a href="method/" target="_blank">Next -> Method</a></small>
</body>
</html>