{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>Purpose</title>
</head>
<body>
    <h1>Purpose</h1>
    <p>By using the resonance of the air column, find the frequency of the tuning fork.</p>
    <small><a href="purpose/preparation/" target="_blank">Next -> Preparation</a></small>
</body>
</html>