{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>References</title>
</head>
<body>
    <h1>References</h1>
    <p><a href="http://www.makasaka.net/physics/kichu/kichu.html" target="_blank">MAkasaka`s Homepage</a></p>
    <p><a href="https://gakusyu.shizuoka-c.ed.jp/science/sonota/ronnbunshu/103101.pdf" target="_blank">https://gakusyu.shizuoka-c.ed.jp/science/sonota/ronnbunshu/103101.pdf</a></p>
    <p><a href="https://naru-gakki.com/how_to_use_tuning-fork/" target="_blank">ナルガッキ</div></a></p>
    <p><a href="https://www.scibox.jp/products/c15-8255/" target="_blank">scibox</div></a></p>
    <p><a href="http://ec.yagami-inc.co.jp/shop/catalog/grouplist.aspx?p=34&catalog_class=003&ps=10&catalog=1602R1" target="_blank">Tap bar.jpg</div></a></p>
</body>
</html>